//- helper functions

- function excerpt(content) {
  - if(content.indexOf("<!-- more -->") == -1) return content;
  - else return content.split("<!-- more -->")[0];
- }

.content
  .selection-group
    h1 
      a.projects-toggle(href="#") PROJECTS
      br
      a.essays-toggle(href="#") ESSAYS
      br
      a(href="#") BLOG
      br
      a.info-toggle(href="#") INFO
  .active-selection(style="text-align: right; font-size: 0.6em;")
    .projects(style="disp lay: none;")
      h1 
        a(href="http://stayalert.org/" target="none") stayalert
        br
        a(href="http://whetherwords.com/" target="none") whetherwords
        br 
        a(href="http://www.shapesocial.net/" target="none") shape social
        br 
        a airwaves
        br 
        a jumpgate dotfm
        br
        a(href="http://www.everetthydraulics.com/" target="none") everett hydraulics
    .essays(style="display: none;")  
      each post, slug in public.posts._data
        h1: a(href="/posts/#{ slug }")= post.title
        //- != excerpt(partial("posts/" + slug))
    .info(style="display: none;")
      h1 
        | skyler hartle
        br
        |web dev // writer
        br 
        | skyler@shapesocial.net
        br
        a(href="http://twitter.com/skylerhartle") tw: @skylerhartle
        
        
script(src="https://code.jquery.com/jquery-2.1.4.min.js")        
script.
  $('.projects-toggle').click(function() {
    $('.info').hide();
    $('.essays').hide();
    $('.projects').show();
  });
  
  $('.essays-toggle').click(function() {
    $('.info').hide();
    $('.projects').hide();
    $('.essays').show();
  });
  $('.info-toggle').click(function() {
    $('.essays').hide();
    $('.projects').hide();
    $('.info').show();
  });
