html {
  font-family: 'Helvetica';
  background-color: black;
  color: white;
}

body {
  padding: 20px;
  padding-top: 0px;
  h1 {
    font-size: 3.5em;
    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: #ff85cb;
      }
  }
}
