html {
  font-family: 'Ubuntu', sans-serif;
  background-color: #030C1F;
  color: white;
}

body {
  padding: 20px;
  padding-top: 0px;
  h1 {
    font-size: 3.5em;
    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: #ff85cb;
      }
    a:visited {
      color: #ff85cb;
    }
  }
}

@media only screen and (max-device-width: 320px) {
  body {
    h1 {
      font-size: 2.5em;
    }
  }
}
